body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('../images/background.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: center;
}

.container {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.download-button, .github-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.download-button:hover, .github-button:hover {
    background-color: #45a049;
}

.visit-link {
    color: #4CAF50;
    text-decoration: none;
}

.visit-link:hover {
    text-decoration: underline;
}

.or-text {
    margin: 10px 0;
}